<div>

    <h1>ConnectDots Password Reset</h1>
    <p>Hi <%=user.name%>!</p>
    <br>
    <p>You can use following link to reset your password!</p>
    <br>
    <a href="https://<%=wifiIP%>/users/reset-password/<%=user.name%>/<%=user.email%>/<%=encodeURIComponent(JSON.stringify(token))%>">Reset your password</a>
    <br>
    <p>If you didn’t request this, feel free to ignore this email. Your account stays safe!</p> 
    <br>
    <p>...Thanks!</p> 

    
</div>
